* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
}

html,
body {
	height: 100%;
	width: 100%;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background: rgb(27, 27, 52);
}
